:host{
  position: relative;
  width: 400px;
  background-color: #eee;
  display:block;
}

/deep/ .header{
  height: 20px;
  line-height: 20px;
  background-color: #ddd;
}

/deep/ .items .item{
    border-bottom: 1px solid black;
}

/deep/ .items:last-child .item{
    border-bottom: 0px;
}