<div class="main">
	<router-outlet></router-outlet>
</div>

<footer>
	<h2>Sitemap</h2>
	<ul>
		<li><a [routerLink]="['']">Home</a></li>
		<li><a [routerLink]="['comp']">Example Component</a></li>
		<li><a [routerLink]="['404']">404</a></li>
		<li><a [routerLink]="['dashboard']">Dashboard</a></li>
		<li><a [routerLink]="['dashboard', 'databinding']">Databinding</a></li>
		<li><a [routerLink]="['dashboard/directive']">Directive</a></li>
		<li><a [routerLink]="['customer']">Customer</a></li>
		<li><a [routerLink]="['tabs']">Tabs</a></li>
		<li><a [routerLink]="['custom']">Custom Directive/Pipe</a></li>
		<li><a [routerLink]="['validation']">Form Validation</a></li>
		<li><a [routerLink]="['validation/form-builder']">Form Builder</a></li>
		<li><a [routerLink]="['animation']">Animation</a></li>
		<li><a [routerLink]="['dynamicform']">Dynamic Forms</a></li>

	</ul>
</footer>